:root.theme-dark {
  --cover-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-color-text: #000028;

  --logo-color: #ff0070;
  --decorative-bracket-color: #ff0070;

  --link-outline: #F1B2CE;

  --menu-button-color: #ff0070;
  --menu-button-hover-color: #ff007066;

  --title-color: #db00ff;

  --section-title-color: #ff0070;
  --article-text-color: #F1B2CE;
}